<section id="first-block" class="container">
  <div>
    <div class="title"><h2>{{mytheme.title}}</h2></div>
    <div class="subtitle"><h3>{{mytheme.subtitle}}</h3></div>
    <div style="float: right; background-image: url('{{mytheme.image_url}}')"></div>
  </div>
</section>
