{#
PÁGINA GLOSSÁRIO
#}

{{page.navigation}}
<div class="py-5" style="	background-image: url(&quot;{{ base_path ~ directory }}/images/bg1.png&quot;);	background-position: top left;	background-size: cover;	background-repeat: no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white">Glossário</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="d-block d-sm-nonept-3 py-4" style="">
    <div class="px-0 container-fluid d-flex justify-content-center">
      <div class="row bg-white mx-0 mb-3">
        <div class="col-md-12 col-lg-12 px-0">
          <ul class="nav">
            <li class="nav-item border-right">
              <a href="#" class="nav-link active text-black">A</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">B</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">C</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">D</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">E</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">F</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">G</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">H</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">I</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">J</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">K</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">L</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">M</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">N</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">O</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">P</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">Q</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">R</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">S</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">T</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">U</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">V</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">W</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">X</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">Y</a>
            </li>
            <li class="nav-item border-right">
              <a href="#" class="nav-link text-black">Z</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="d-block d-sm-nonept-3" style="">
    <div class="container px-0">
      <div class="row mx-0 py-3 px-3 bg-white border">
        <label>Pesquisar</label>
        <div class="input-group">
          <input type="text" class="form-control py-3" placeholder="Palavra-chave" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-yellow px-5 ml-3 text-dark" type="button">Buscar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-8">
          <h1 class="text-dark text-center">A</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-8" style="">
          <h4 class="text-dark">AdSense&nbsp;</h4>
          <p>Programa de mídias pagas do Google onde webmasters podem utilizar de propagandas em seus domínios. O tipo de cobrança realizada em Adsense é o custo por clique (CPC). </p>
          <h4 class="text-dark">AdWords</h4>
          <p>Outra modalidade de mídia paga digital. Neste caso, a plataforma permite que empresários e profissionais de marketing paguem por CPC para serem encontrados quando uma determinada palavra-chave é buscada. Podem ser anunciados tanto produtos como serviços. </p>
          <h4 class="text-dark">Afiliado</h4>
          <p>Programa de afiliação muito comum no meio digital. Esta modalidade permite que afiliados utilizem suas páginas, sites ou mídias sociais para promover produtos e serviços de terceiros, a fim de realizar vendas e lucrar sobre o valor deste produto. </p>
          <h4 class="text-dark">Algoritmo</h4>
          <p>Um programa utilizado pelos motores de busca para indexar, catalogar e exibir as melhores páginas para um usuário após a busca. O algoritmo do Google foi o que diferenciou este motor de busca dos demais quando foi criado e nos anos que vieram a seguir tornando-o algoritmo do Google uma das ferramentas mais incríveis de buscas já criadas. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-8">
          <h1 class="text-dark text-center">B</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-8" style="">
          <h4 class="text-dark">Backlink </h4>
          <p>Os backlinks são a principal preocupação de qualquer profissional de SEO. Os backlinks nada mais são que links que estão direcionando um site para o outro. O objetivo desses links é indicar o quão relevante uma página é ao passar autoridade de um domínio para outro. </p>
          <h4 class="text-dark">Bing </h4>
          <p>Motor de busca criado pela empresa Microsoft. </p>
          <h4 class="text-dark">Bing Ads </h4>
          <p>Plataforma de anúncios pagos que é utilizado pelo motor de busca da Microsoft. Assim como o Google, esta é a forma como profissionais conseguem anunciar através de palavras-chaves. </p>
          <h4 class="text-dark">BlackHat SEO </h4>
          <p>Um conjunto de técnicas utilizadas para melhorar rankeamento de página e obter resultados mais expressivos de SEO em menos tempo. Normalmente, as técnicas de SEO Black Hat vão contra as diretrizes de webmasters do Google. Black Hat SEO é considerado desonesto, por promover atitudes e estratégias que fogem às normas padrões do motor de busca. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-8">
          <h1 class="text-dark text-center">C</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-8" style="">
          <h4 class="text-dark">Clickthrough – CTR </h4>
          <p>Ação de clicar em um link e chegar em uma determinada página de destino. Esta ação pode ser realizada em um anúncio de mídia paga, em uma das páginas exibidas na busca orgânica ou até mesmo tem um link interno direcionado para outro site dentro de uma página específica. </p>
          <h4 class="text-dark">Cloaking </h4>
          <p>Cloaking é uma das principais penalizações do Google. Neste caso, um site é penalizado quando exibe conteúdos diferentes para motor de busca e usuário. Quando falamos em SEO Black Hat, o Cloaking é muito comum. Esta é uma das mais severas penalizações do Google, chegando a exclusão de um site dos resultados de pesquisa orgânica por tempo indeterminado. </p>
          <h4 class="text-dark">CMS – Content Management System </h4>
          <p>Estes sistemas são utilizados para gerenciamento de conteúdo. Podem ser utilizados por usuários leigos e até mesmo por usuários avançados que consigam customizá-los de forma mais complexa e avançada. Estas plataformas podem ser utilizadas para criação de sites, blogs e outros tipos de página. Entre os CMSs mais famosos, podemos citar o WordPress. </p>
          <h4 class="text-dark">Conteúdo </h4>
          <p>Não se assuste por encontrar conteúdo neste glossário. O conteúdo nada mais é do que a parte de texto de uma página. Atualmente, o conteúdo desempenha um papel chave para o rankeamento de páginas orgânicas, tendo se tornado um dos principais fatores de rankeamento para o Google. Seu objetivo é ajudar um usuário a compreender e resolver um problema. </p>
        </div>
      </div>
    </div>
  </div>
{{page.footer}}
