{#
PÁGINA PUBLICAÇÕES
#}


{{page.navigation}}
<div class="py-5" style="	background-image: url(&quot;{{ base_path ~ directory }}/images/bg1.png&quot;);	background-position: top left;	background-size: cover;	background-repeat: no-repeat;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-white">Publicações</h1>
			</div>
		</div>
	</div>
</div>
<div class="d-block d-sm-nonept-3 py-4 bg-light" style="">
	<div class="container">
		<div class="row mx-0 py-3 px-3 bg-white">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4 col-lg-5">
						<div class="form-group">
							<label>Pesquisar</label><input type="text" class="form-control py-3" placeholder="Palavra-chave" aria-label="Recipient's username" aria-describedby="basic-addon2"></div>
					</div>
					<div class="col-md-4 col-lg-4">
						<div class="form-group">
							<label>Tipo de publicação</label>
							<input type="text" class="form-control py-3" aria-label="Recipient's username" aria-describedby="basic-addon2"></div>
					</div>
					<div class="col-md-4 col-lg-3 d-flex flex-row justify-content-center align-items-center">
						<button class="btn btn-yellow text-dark mt-2 px-5 py-2" type="button">Buscar</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p class="text-center mt-4">
					<i>Exibindo 297 publicações</i>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="bg-light py-3">
	<div class="container">
		<div class="row mx-auto mb-2">
			<div class="card-deck">
				<div class="card">
					<div class="card-body py-2 d-flex align-items-center">
						<div class="row">
							<div class="col-md-12 px-0">
								<div class="row mx-1">
									<div class="col-md-12 col-lg-12">
										<h6 class="mb-0 my-2 text-dark">
											<i class="bi bi-calendar3 mr-2 text-dark"></i>
											<span style="font-weight: normal;">
												20 OUT 2022</span>
										</h6>
										<h5 class="text-dark mt-2">Título de exemplo de documento</h5>
										<p>Breve descrição caso haja donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<p></p>
										<h6 class="mb-0 my-2 text-primary" style="">
											<i class="bi bi-file-earmark-pdf mr-2 text-primary"></i>
											<span style="font-weight: normal;">
												<i>PDF Download</i>
											</span>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body py-2">
						<div class="row">
							<div class="col-md-12 px-0">
								<div class="row mx-1">
									<div class="col-md-12 col-lg-12" style="">
										<h6 class="mb-0 my-2 text-dark">
											<i class="bi bi-calendar3 mr-2 text-dark"></i>
											<span style="font-weight: normal;">
												20 OUT 2022</span>
										</h6>
										<h5 class="text-dark mt-2">Título de exemplo de documento</h5>
										<p>Breve descrição caso haja donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<h6 class="mb-0 my-2 text-primary" style="">
											<i class="bi bi-file-earmark-pdf mr-2 text-primary"></i>
											<span style="font-weight: normal;">
												<i>PDF Download</i>
											</span>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mx-auto mb-2">
			<div class="card-deck">
				<div class="card">
					<div class="card-body py-2 d-flex align-items-center">
						<div class="row">
							<div class="col-md-12 px-0">
								<div class="row mx-1">
									<div class="col-md-12 col-lg-12">
										<h6 class="mb-0 my-2 text-dark">
											<i class="bi bi-calendar3 mr-2 text-dark"></i>
											<span style="font-weight: normal;">
												20 OUT 2022</span>
										</h6>
										<h5 class="text-dark mt-2">Título de exemplo de documento</h5>
										<p>Breve descrição caso haja donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<p></p>
										<h6 class="mb-0 my-2 text-primary" style="">
											<i class="bi bi-file-earmark-pdf mr-2 text-primary"></i>
											<span style="font-weight: normal;">
												<i>PDF Download</i>
											</span>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body py-2">
						<div class="row">
							<div class="col-md-12 px-0">
								<div class="row mx-1">
									<div class="col-md-12 col-lg-12" style="">
										<h6 class="mb-0 my-2 text-dark">
											<i class="bi bi-calendar3 mr-2 text-dark"></i>
											<span style="font-weight: normal;">
												20 OUT 2022</span>
										</h6>
										<h5 class="text-dark mt-2">Título de exemplo de documento</h5>
										<p>Breve descrição caso haja donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<h6 class="mb-0 my-2 text-primary" style="">
											<i class="bi bi-file-earmark-pdf mr-2 text-primary"></i>
											<span style="font-weight: normal;">
												<i>PDF Download</i>
											</span>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mx-auto mb-2">
			<div class="card-deck">
				<div class="card">
					<div class="card-body py-2 d-flex align-items-center">
						<div class="row">
							<div class="col-md-12 px-0">
								<div class="row mx-1">
									<div class="col-md-12 col-lg-12">
										<h6 class="mb-0 my-2 text-dark">
											<i class="bi bi-calendar3 mr-2 text-dark"></i>
											<span style="font-weight: normal;">
												20 OUT 2022</span>
										</h6>
										<h5 class="text-dark mt-2">Título de exemplo de documento</h5>
										<p>Breve descrição caso haja donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<p></p>
										<h6 class="mb-0 my-2 text-primary" style="">
											<i class="bi bi-file-earmark-pdf mr-2 text-primary"></i>
											<span style="font-weight: normal;">
												<i>PDF Download</i>
											</span>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body py-2">
						<div class="row">
							<div class="col-md-12 px-0">
								<div class="row mx-1">
									<div class="col-md-12 col-lg-12" style="">
										<h6 class="mb-0 my-2 text-dark">
											<i class="bi bi-calendar3 mr-2 text-dark"></i>
											<span style="font-weight: normal;">
												20 OUT 2022</span>
										</h6>
										<h5 class="text-dark mt-2">Título de exemplo de documento</h5>
										<p>Breve descrição caso haja donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<h6 class="mb-0 my-2 text-primary" style="">
											<i class="bi bi-file-earmark-pdf mr-2 text-primary"></i>
											<span style="font-weight: normal;">
												<i>PDF Download</i>
											</span>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mx-auto mb-2">
			<div class="card-deck">
				<div class="card">
					<div class="card-body py-2 d-flex align-items-center">
						<div class="row">
							<div class="col-md-12 px-0">
								<div class="row mx-1">
									<div class="col-md-12 col-lg-12">
										<h6 class="mb-0 my-2 text-dark">
											<i class="bi bi-calendar3 mr-2 text-dark"></i>
											<span style="font-weight: normal;">
												20 OUT 2022</span>
										</h6>
										<h5 class="text-dark mt-2">Título de exemplo de documento</h5>
										<p>Breve descrição caso haja donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<p></p>
										<h6 class="mb-0 my-2 text-primary" style="">
											<i class="bi bi-file-earmark-pdf mr-2 text-primary"></i>
											<span style="font-weight: normal;">
												<i>PDF Download</i>
											</span>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body py-2">
						<div class="row">
							<div class="col-md-12 px-0">
								<div class="row mx-1">
									<div class="col-md-12 col-lg-12" style="">
										<h6 class="mb-0 my-2 text-dark">
											<i class="bi bi-calendar3 mr-2 text-dark"></i>
											<span style="font-weight: normal;">
												20 OUT 2022</span>
										</h6>
										<h5 class="text-dark mt-2">Título de exemplo de documento</h5>
										<p>Breve descrição caso haja donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<h6 class="mb-0 my-2 text-primary" style="">
											<i class="bi bi-file-earmark-pdf mr-2 text-primary"></i>
											<span style="font-weight: normal;">
												<i>PDF Download</i>
											</span>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mx-auto mb-2">
			<div class="card-deck">
				<div class="card">
					<div class="card-body py-2 d-flex align-items-center">
						<div class="row">
							<div class="col-md-12 px-0">
								<div class="row mx-1">
									<div class="col-md-12 col-lg-12">
										<h6 class="mb-0 my-2 text-dark">
											<i class="bi bi-calendar3 mr-2 text-dark"></i>
											<span style="font-weight: normal;">
												20 OUT 2022</span>
										</h6>
										<h5 class="text-dark mt-2">Título de exemplo de documento</h5>
										<p>Breve descrição caso haja donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<p></p>
										<h6 class="mb-0 my-2 text-primary" style="">
											<i class="bi bi-file-earmark-pdf mr-2 text-primary"></i>
											<span style="font-weight: normal;">
												<i>PDF Download</i>
											</span>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body py-2">
						<div class="row">
							<div class="col-md-12 px-0">
								<div class="row mx-1">
									<div class="col-md-12 col-lg-12" style="">
										<h6 class="mb-0 my-2 text-dark">
											<i class="bi bi-calendar3 mr-2 text-dark"></i>
											<span style="font-weight: normal;">
												20 OUT 2022</span>
										</h6>
										<h5 class="text-dark mt-2">Título de exemplo de documento</h5>
										<p>Breve descrição caso haja donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<h6 class="mb-0 my-2 text-primary" style="">
											<i class="bi bi-file-earmark-pdf mr-2 text-primary"></i>
											<span style="font-weight: normal;">
												<i>PDF Download</i>
											</span>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mx-auto mb-2">
			<div class="card-deck">
				<div class="card">
					<div class="card-body py-2 d-flex align-items-center">
						<div class="row">
							<div class="col-md-12 px-0">
								<div class="row mx-1">
									<div class="col-md-12 col-lg-12">
										<h6 class="mb-0 my-2 text-dark">
											<i class="bi bi-calendar3 mr-2 text-dark"></i>
											<span style="font-weight: normal;">
												20 OUT 2022</span>
										</h6>
										<h5 class="text-dark mt-2">Título de exemplo de documento</h5>
										<p>Breve descrição caso haja donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<p></p>
										<h6 class="mb-0 my-2 text-primary" style="">
											<i class="bi bi-file-earmark-pdf mr-2 text-primary"></i>
											<span style="font-weight: normal;">
												<i>PDF Download</i>
											</span>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body py-2">
						<div class="row">
							<div class="col-md-12 px-0">
								<div class="row mx-1">
									<div class="col-md-12 col-lg-12" style="">
										<h6 class="mb-0 my-2 text-dark">
											<i class="bi bi-calendar3 mr-2 text-dark"></i>
											<span style="font-weight: normal;">
												20 OUT 2022</span>
										</h6>
										<h5 class="text-dark mt-2">Título de exemplo de documento</h5>
										<p>Breve descrição caso haja donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<h6 class="mb-0 my-2 text-primary" style="">
											<i class="bi bi-file-earmark-pdf mr-2 text-primary"></i>
											<span style="font-weight: normal;">
												<i>PDF Download</i>
											</span>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mx-auto mb-2">
			<div class="card-deck">
				<div class="card">
					<div class="card-body py-2 d-flex align-items-center">
						<div class="row">
							<div class="col-md-12 px-0">
								<div class="row mx-1">
									<div class="col-md-12 col-lg-12">
										<h6 class="mb-0 my-2 text-dark">
											<i class="bi bi-calendar3 mr-2 text-dark"></i>
											<span style="font-weight: normal;">
												20 OUT 2022</span>
										</h6>
										<h5 class="text-dark mt-2">Título de exemplo de documento</h5>
										<p>Breve descrição caso haja donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<p></p>
										<h6 class="mb-0 my-2 text-primary" style="">
											<i class="bi bi-file-earmark-pdf mr-2 text-primary"></i>
											<span style="font-weight: normal;">
												<i>PDF Download</i>
											</span>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body py-2">
						<div class="row">
							<div class="col-md-12 px-0">
								<div class="row mx-1">
									<div class="col-md-12 col-lg-12" style="">
										<h6 class="mb-0 my-2 text-dark">
											<i class="bi bi-calendar3 mr-2 text-dark"></i>
											<span style="font-weight: normal;">
												20 OUT 2022</span>
										</h6>
										<h5 class="text-dark mt-2">Título de exemplo de documento</h5>
										<p>Breve descrição caso haja donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<h6 class="mb-0 my-2 text-primary" style="">
											<i class="bi bi-file-earmark-pdf mr-2 text-primary"></i>
											<span style="font-weight: normal;">
												<i>PDF Download</i>
											</span>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mx-auto mb-2">
			<div class="card-deck">
				<div class="card">
					<div class="card-body py-2 d-flex align-items-center">
						<div class="row">
							<div class="col-md-12 px-0">
								<div class="row mx-1">
									<div class="col-md-12 col-lg-12">
										<h6 class="mb-0 my-2 text-dark">
											<i class="bi bi-calendar3 mr-2 text-dark"></i>
											<span style="font-weight: normal;">
												20 OUT 2022</span>
										</h6>
										<h5 class="text-dark mt-2">Título de exemplo de documento</h5>
										<p>Breve descrição caso haja donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<p></p>
										<h6 class="mb-0 my-2 text-primary" style="">
											<i class="bi bi-file-earmark-pdf mr-2 text-primary"></i>
											<span style="font-weight: normal;">
												<i>PDF Download</i>
											</span>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body py-2">
						<div class="row">
							<div class="col-md-12 px-0">
								<div class="row mx-1">
									<div class="col-md-12 col-lg-12" style="">
										<h6 class="mb-0 my-2 text-dark">
											<i class="bi bi-calendar3 mr-2 text-dark"></i>
											<span style="font-weight: normal;">
												20 OUT 2022</span>
										</h6>
										<h5 class="text-dark mt-2">Título de exemplo de documento</h5>
										<p>Breve descrição caso haja donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<h6 class="mb-0 my-2 text-primary" style="">
											<i class="bi bi-file-earmark-pdf mr-2 text-primary"></i>
											<span style="font-weight: normal;">
												<i>PDF Download</i>
											</span>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mx-auto mb-2">
			<div class="card-deck">
				<div class="card">
					<div class="card-body py-2 d-flex align-items-center">
						<div class="row">
							<div class="col-md-12 px-0">
								<div class="row mx-1">
									<div class="col-md-12 col-lg-12">
										<h6 class="mb-0 my-2 text-dark">
											<i class="bi bi-calendar3 mr-2 text-dark"></i>
											<span style="font-weight: normal;">
												20 OUT 2022</span>
										</h6>
										<h5 class="text-dark mt-2">Título de exemplo de documento</h5>
										<p>Breve descrição caso haja donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<p></p>
										<h6 class="mb-0 my-2 text-primary" style="">
											<i class="bi bi-file-earmark-pdf mr-2 text-primary"></i>
											<span style="font-weight: normal;">
												<i>PDF Download</i>
											</span>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body py-2">
						<div class="row">
							<div class="col-md-12 px-0">
								<div class="row mx-1">
									<div class="col-md-12 col-lg-12" style="">
										<h6 class="mb-0 my-2 text-dark">
											<i class="bi bi-calendar3 mr-2 text-dark"></i>
											<span style="font-weight: normal;">
												20 OUT 2022</span>
										</h6>
										<h5 class="text-dark mt-2">Título de exemplo de documento</h5>
										<p>Breve descrição caso haja donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<h6 class="mb-0 my-2 text-primary" style="">
											<i class="bi bi-file-earmark-pdf mr-2 text-primary"></i>
											<span style="font-weight: normal;">
												<i>PDF Download</i>
											</span>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mx-auto mb-2">
			<div class="card-deck">
				<div class="card">
					<div class="card-body py-2 d-flex align-items-center">
						<div class="row">
							<div class="col-md-12 px-0">
								<div class="row mx-1">
									<div class="col-md-12 col-lg-12">
										<h6 class="mb-0 my-2 text-dark">
											<i class="bi bi-calendar3 mr-2 text-dark"></i>
											<span style="font-weight: normal;">
												20 OUT 2022</span>
										</h6>
										<h5 class="text-dark mt-2">Título de exemplo de documento</h5>
										<p>Breve descrição caso haja donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<p></p>
										<h6 class="mb-0 my-2 text-primary" style="">
											<i class="bi bi-file-earmark-pdf mr-2 text-primary"></i>
											<span style="font-weight: normal;">
												<i>PDF Download</i>
											</span>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body py-2">
						<div class="row">
							<div class="col-md-12 px-0">
								<div class="row mx-1">
									<div class="col-md-12 col-lg-12" style="">
										<h6 class="mb-0 my-2 text-dark">
											<i class="bi bi-calendar3 mr-2 text-dark"></i>
											<span style="font-weight: normal;">
												20 OUT 2022</span>
										</h6>
										<h5 class="text-dark mt-2">Título de exemplo de documento</h5>
										<p>Breve descrição caso haja donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										<h6 class="mb-0 my-2 text-primary" style="">
											<i class="bi bi-file-earmark-pdf mr-2 text-primary"></i>
											<span style="font-weight: normal;">
												<i>PDF Download</i>
											</span>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="py-3 bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-12 d-flex flex-row justify-content-center">
				<ul class="pagination">
					<li class="page-item">
						<a class="page-link" href="#">
							<span>«</span>
						</a>
					</li>
					<li class="page-item active">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">4</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">
							<span>»</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{{page.footer}}
