{#
PÁGINA AGENDA
#}

{{page.navigation}}
<div class="py-5" style="	background-image: url(&quot;{{ base_path ~ directory }}/images/bg1.png&quot;);	background-position: top left;	background-size: cover;	background-repeat: no-repeat;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-white">Agenda</h1>
			</div>
		</div>
	</div>
</div>
<div class="d-block d-sm-nonept-3 py-4 bg-light" style="">
	<div class="container">
		<div class="row d-flex justify-content-start align-items-center mx-auto pb-2">
			<div class="px-0 col-8 col-lg-3 col-md-3" style="">
				<div class="btn-group">
					<button class="btn dropdown-toggle btn-link" data-toggle="dropdown" aria-expanded="false">
						<h3 class="mb-0 text-dark">Outubro 2022<i class="fa-solid fa-caret-down"></i>
						</h3>
					</button>
					<div class="dropdown-menu calendar" style="position: absolute; will-change: transform; padding: 0px; top: 0px; left: 0px; transform: translate3d(-8px, 66px, 0px);" x-placement="bottom-start">
						<div class="card border-0">
							<div class="card-header">
								<div class="row mx-auto">
									<div class="align-items-center d-flex justify-content-between px-0 col-lg-12">
										<a class="btn px-2 mr-2 text-primary btn-light" href="#">
											<i class="fa-solid fa-chevron-left"></i>
										</a>
										<h5 class="mb-0 mr-2 text-center">2022</h5>
										<a class="btn px-2 btn-light text-primary" href="#">
											<i class="fa-solid fa-chevron-right"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body bg-info">
								<div class="row mt-1 mx-auto">
									<div class="align-items-center d-flex justify-content-between px-0 col-lg-12">
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-primary" href="#">Jan</a>
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-primary" href="#">Fev</a>
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-primary" href="#">Mar</a>
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-primary" href="#">Abr</a>
									</div>
								</div>
								<div class="row mt-1 mx-auto">
									<div class="align-items-center d-flex justify-content-between px-0 col-lg-12">
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-primary" href="#">Mai</a>
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-primary" href="#">Jun</a>
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-primary" href="#">Jul</a>
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-primary" href="#">Ago</a>
									</div>
								</div>
								<div class="row mt-1 mx-auto">
									<div class="align-items-center d-flex justify-content-between px-0 col-lg-12">
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-primary active" href="#">Set</a>
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-primary" href="#">Out</a>
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-primary" href="#">Nov</a>
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-primary" href="#">Dez</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="dropdown">
					<div class="dropdown-menu calendar" aria-labelledby="dropdownMenuLink" x-placement="bottom-start" style="">
						<div class="card">
							<div class="card-header">
								<div class="row mx-auto">
									<div class="align-items-center d-flex justify-content-between px-0 col-lg-12">
										<a class="prev-month btn px-2 mr-2 text-primary btn-outline-light" href="#">
											<i class="fa-solid fa-chevron-left"></i>
										</a>
										<h6 class="mb-0 mr-2 text-center">Setembro 2022</h6>
										<a class="next-month btn px-2 btn-outline-light text-primary" href="#">
											<i class="fa-solid fa-chevron-right"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="row mt-1 mx-auto">
									<div class="align-items-center d-flex justify-content-between px-0 col-lg-12">
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-light text-dark" href="#">Jan</a>
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-light text-dark" href="#">Fev</a>
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-light text-dark" href="#">Mar</a>
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-light text-dark" href="#">Abr</a>
									</div>
								</div>
								<div class="row mt-1 mx-auto">
									<div class="align-items-center d-flex justify-content-between px-0 col-lg-12">
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-light text-dark" href="#">Mai</a>
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-light text-dark" href="#">Jun</a>
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-light text-dark" href="#">Jul</a>
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-light text-dark" href="#">Ago</a>
									</div>
								</div>
								<div class="row mt-1 mx-auto">
									<div class="align-items-center d-flex justify-content-between px-0 col-lg-12">
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-light text-dark" href="#">Set</a>
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-light text-dark" href="#">Out</a>
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-light text-dark" href="#">Nov</a>
										<a class="btn btn-block mr-1 mt-0 btn-sm btn-outline-light text-dark" href="#">Dez</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center px-0 py-2 col-4 col-lg-2" style="">
				<a class="prev-month btn btn-outline-primary px-2 mr-2" href="#">
					<i class="fa-solid fa-chevron-left"></i>
				</a>
				<a class="next-month btn btn-outline-primary px-2" href="#">
					<i class="fa-solid fa-chevron-right"></i>
				</a>
			</div>
			<div class="col-lg-7 col-md-12 px-0">
				<div class="row mx-0 py-3 px-3 bg-light">
					<div class="input-group">
						<input type="text" class="form-control py-3" placeholder="Palavra-chave" aria-label="Recipient's username" aria-describedby="basic-addon2">
						<div class="input-group-append">
							<button class="btn btn-yellow px-5 ml-3 text-dark" type="button">Buscar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="pt-4 bg-light" style="">
	<div class="container">
		<div class="row">
			<div class="card-group col-lg-6">
				<div class="card mb-3">
					<div class="card-body py-2">
						<div class="row">
							<div class="col-md-12 px-0" style="">
								<div class="row mx-1 d-flex justify-content-center">
									<div class="col-lg-2 justify-content-center align-items-center col-sm-12 col-2 col-md-6 d-flex flex-column" style="">
										<h4 class="text-center text-dark mt-2 mb-0">OUT<br></h4>
										<h3 class="text-center text-dark">
											<span style="font-weight: normal;">31</span>
										</h3>
									</div>
									<div class="col-lg-10 col-sm-12 col-md-6 col-10" style="">
										<h5 class="text-dark mt-2">São Joaquim de Bicas</h5>
										<h6 class="text-primary">
											<a href="#">Mais informações</a>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-group col-lg-6">
				<div class="card mb-3">
					<div class="card-body py-2">
						<div class="row">
							<div class="col-md-12 px-0" style="">
								<div class="row mx-1 d-flex justify-content-center">
									<div class="col-lg-2 justify-content-center align-items-center col-sm-12 col-2 col-md-6 d-flex flex-column" style="">
										<h4 class="text-center text-dark mt-2 mb-0">OUT<br></h4>
										<h3 class="text-center text-dark">
											<span style="font-weight: normal;">31</span>
										</h3>
									</div>
									<div class="col-lg-10 col-sm-12 col-md-6 col-10" style="">
										<h5 class="text-dark mt-2">São Joaquim de Bicas, Mario Campos, Balneário Reino dos Lagos, Esmeraldas</h5>
										<h6 class="text-primary">
											<a href="#">Mais informações</a>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="card-group col-lg-6">
				<div class="card mb-3">
					<div class="card-body py-2">
						<div class="row">
							<div class="col-md-12 px-0" style="">
								<div class="row mx-1 d-flex justify-content-center">
									<div class="col-lg-2 justify-content-center align-items-center col-sm-12 col-2 col-md-6 d-flex flex-column" style="">
										<h4 class="text-center text-dark mt-2 mb-0">OUT<br></h4>
										<h3 class="text-center text-dark">
											<span style="font-weight: normal;">31</span>
										</h3>
									</div>
									<div class="col-lg-10 col-sm-12 col-md-6 col-10" style="">
										<h5 class="text-dark mt-2">São Joaquim de Bicas, Mario Campos, Balneário Reino dos Lagos, Esmeraldas</h5>
										<h6 class="text-primary">
											<a href="#">Mais informações</a>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-group col-lg-6">
				<div class="card mb-3">
					<div class="card-body py-2">
						<div class="row">
							<div class="col-md-12 px-0" style="">
								<div class="row mx-1 d-flex justify-content-center">
									<div class="col-lg-2 justify-content-center align-items-center col-sm-12 col-2 col-md-6 d-flex flex-column" style="">
										<h4 class="text-center text-dark mt-2 mb-0">OUT<br></h4>
										<h3 class="text-center text-dark">
											<span style="font-weight: normal;">31</span>
										</h3>
									</div>
									<div class="col-lg-10 col-sm-12 col-md-6 col-10" style="">
										<h5 class="text-dark mt-2">São Joaquim de Bicas, Mario Campos, Balneário Reino dos Lagos, Esmeraldas</h5>
										<h6 class="text-primary">
											<a href="#">Mais informações</a>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="card-group col-lg-6" style="">
				<div class="card mb-3">
					<div class="card-body py-2">
						<div class="row">
							<div class="col-md-12 px-0" style="">
								<div class="row mx-1 d-flex justify-content-center">
									<div class="col-lg-2 justify-content-center align-items-center col-sm-12 col-2 col-md-6 d-flex flex-column" style="">
										<h4 class="text-center text-dark mt-2 mb-0">OUT<br></h4>
										<h3 class="text-center text-dark">
											<span style="font-weight: normal;">31</span>
										</h3>
									</div>
									<div class="col-lg-10 col-sm-12 col-md-6 col-10" style="">
										<h5 class="text-dark mt-2">São Joaquim de Bicas</h5>
										<h6 class="text-primary">
											<a href="#">Mais informações</a>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-group col-lg-6" style="">
				<div class="card mb-3">
					<div class="card-body py-2">
						<div class="row">
							<div class="col-md-12 px-0" style="">
								<div class="row mx-1 d-flex justify-content-center">
									<div class="col-lg-2 justify-content-center align-items-center col-sm-12 col-2 col-md-6 d-flex flex-column" style="">
										<h4 class="text-center text-dark mt-2 mb-0">OUT<br></h4>
										<h3 class="text-center text-dark">
											<span style="font-weight: normal;">31</span>
										</h3>
									</div>
									<div class="col-lg-10 col-sm-12 col-md-6 col-10" style="">
										<h5 class="text-dark mt-2">São Joaquim de Bicas, Mario Campos, Balneário Reino dos Lagos, Esmeraldas</h5>
										<h6 class="text-primary">
											<a href="#">Mais informações</a>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row pb-4">
			<div class="card-group col-lg-6">
				<div class="card mb-3">
					<div class="card-body py-2">
						<div class="row">
							<div class="col-md-12 px-0" style="">
								<div class="row mx-1 d-flex justify-content-center">
									<div class="col-lg-2 justify-content-center align-items-center col-sm-12 col-2 col-md-6 d-flex flex-column" style="">
										<h4 class="text-center text-dark mt-2 mb-0">OUT<br></h4>
										<h3 class="text-center text-dark">
											<span style="font-weight: normal;">31</span>
										</h3>
									</div>
									<div class="col-lg-10 col-sm-12 col-md-6 col-10" style="">
										<h5 class="text-dark mt-2">São Joaquim de Bicas, Mario Campos, Balneário Reino dos Lagos, Esmeraldas</h5>
										<h6 class="text-primary">
											<a href="#">Mais informações</a>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-group col-lg-6">
				<div class="card mb-3">
					<div class="card-body py-2">
						<div class="row">
							<div class="col-md-12 px-0" style="">
								<div class="row mx-1 d-flex justify-content-center">
									<div class="col-lg-2 justify-content-center align-items-center col-sm-12 col-2 col-md-6 d-flex flex-column" style="">
										<h4 class="text-center text-dark mt-2 mb-0">OUT<br></h4>
										<h3 class="text-center text-dark">
											<span style="font-weight: normal;">31</span>
										</h3>
									</div>
									<div class="col-lg-10 col-sm-12 col-md-6 col-10" style="">
										<h5 class="text-dark mt-2">São Joaquim de Bicas</h5>
										<h6 class="text-primary">
											<a href="#">Mais informações</a>
										</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- seção apenas no mobile start -->
	<div class="d-block d-sm-none bg-info" style="">
		<div class="container">
			<div class="row">
				<div class="col-md-12 justify-content-center align-items-center flex-row d-flex pb-3 bg-light">
					<a class="btn py-2 btn-warning" href="agenda.html">Ver toda agenda completa</a>
				</div>
			</div>
		</div>
	</div>
	<!-- seção apenas no mobile end -->
</div>
<div class="py-3 bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-12 d-flex flex-row justify-content-center">
				<ul class="pagination">
					<li class="page-item">
						<a class="page-link" href="#">
							<span>«</span>
						</a>
					</li>
					<li class="page-item active">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">4</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">
							<span>»</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{{page.footer}}
