{#
PÁGINA CONTATO
#}

{{page.navigation}}
<div class="py-5" style="	background-image: url(&quot;{{ base_path ~ directory }}/images/bg1.png&quot;);	background-position: top left;	background-size: cover;	background-repeat: no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white">Contato</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12" style="">
          <h4 class="text-dark">BEM-VINDO (a)</h4>
          <p>Bem-vindo (a) à Ouvidoria do Programa de Transferência de Renda. A Fundação Getulio Vargas (FGV) é a responsável pela gestão dos cadastros e pagamentos do PTR e tem o compromisso de manter uma relação de transparência e diálogo com os atingidos e atingidas e sociedade civil. O orgulho de integrar a comunidade FGV, de compartilhar a sua missão, visão e valores, de fazer parte de suas conquistas e de contribuir para o alcance de seus objetivos futuros implica na responsabilidade de pautar nossa conduta na legalidade e nos mais elevados padrões éticos em todas as interações sejam elas internas à FGV ou naquelas realizadas em seu nome. Este Canal é um recurso seguro e confidencial onde você pode manifestar suas sugestões, elogios, reclamações, denúncias e perspectivas sobre os serviços prestados pelo Programa de Transferência de Renda - PTR. </p>
          <h4 class="text-dark mt-2">Número Call Center</h4>
          <p>0800 777 88 55 </p>
          <h4 class="text-dark mt-2">E-mail PTR</h4>
          <p>contato@ptr.fgv.br </p>
        </div>
        <div class="border col-lg-7 col-md-12" style="">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item"> <a href="" class="active nav-link" data-toggle="pill" data-target="#tabone">Fale Conosco</a> </li>
            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabtwo">Ouvidoria</a> </li>
          </ul>
          <div class="tab-content mt-2">
            <div class="tab-pane fade show active mx-2" id="tabone" role="tabpanel">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group"><label>Nome*</label>
                    <div class="form-group">
                      <div class="form-group"><input type="text" class="form-control" id="inputEmail3" required="required"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group"><label>E-mail*</label>
                    <div class="form-group">
                      <div class="form-group"><input type="email" class="form-control" id="inputEmail3" required="required"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group"><label>Telefone*</label>
                    <div class="form-group">
                      <div class="form-group"><input type="text" class="form-control" id="inputEmail3" required="required"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group"><label>CPF*</label>
                    <div class="form-group">
                      <div class="form-group"><input type="email" class="form-control" id="inputEmail3" required="required"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group"><label>Assunto</label>
                    <div class="form-group">
                      <div class="form-group">
                        <div class="form-group"><select class="form-control" id="formControlSelect1">
                            <option>Assuntos</option>
                            <option>Assunto 1</option>
                            <option>Assunto 2</option>
                            <option>Assunto 3</option>
                            <option>Assunto 4</option>
                          </select></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group"><label>Cidade/País*</label>
                    <div class="form-group">
                      <div class="form-group"><input type="email" class="form-control" id="inputEmail3" required="required"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="form-group">
                      <div class="form-group">
                        <div class="form-group">
                          <div class="form-group"><label>Mensagem*</label><textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12"><a class="btn navbar-btn btn btn-yellow text-dark btn-warning py-2" href="#">Enviar mensagem</a></div>
              </div>
            </div>
            <div class="tab-pane fade" id="tabtwo" role="tabpanel">
              <p class="">Utilize esse espaço para manifestar sugestões, elogios, reclamações, denúncias entre outros, sobre os serviços prestados. Toda e qualquer manifestação aqui registrada será apurada dentro da estrita confidencialidade. Aquelas realizadas de boa-fé e que apresentarem uma base fundamentada serão analisadas e as ações decorrentes serão tomadas a critério exclusivo da Coordenação do PTR. Ao fazer uso da Ouvidoria do PTR, você se disponibiliza a ser contatado ou contatada para melhor entendimento e fundamentação do fato ocorrido. A veracidade das informações relatadas é de sua inteira responsabilidade.</p>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group"><label>Nome*</label>
                    <div class="form-group">
                      <div class="form-group"><input type="text" class="form-control" id="inputEmail3" required="required"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group"><label>E-mail*</label>
                    <div class="form-group">
                      <div class="form-group"><input type="email" class="form-control" id="inputEmail3" required="required"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group"><label>Telefone</label>
                    <div class="form-group">
                      <div class="form-group">
                        <div class="form-group">
                          <div class="form-group"><input type="text" class="form-control" id="inputEmail3" required="required"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group"><label>Tipo de solicitação*</label>
                    <div class="form-group">
                      <div class="form-group">
                        <div class="form-group"><select class="form-control" id="formControlSelect1" required="required">
                            <option value="Assuntos">Assuntos</option>
                            <option value="Assunto 1">Assunto 1</option>
                            <option value="Assunto 2">Assunto 2</option>
                            <option value="Assunto 3">Assunto 3</option>
                            <option value="Assunto 4">Assunto 4</option>
                          </select></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="form-group">
                      <div class="form-group">
                        <div class="form-group">
                          <div class="form-group"><label>Mensagem*</label><textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12"><a class="btn navbar-btn btn btn-yellow text-dark btn-warning py-2" href="#">Enviar mensagem</a></div>
              </div>
            </div>
            <div class="tab-pane fade" id="tabthree" role="tabpanel">
              <p class="">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-light">
    <div class="container">
      <!-- Accordion 1-->
      <div id="accordion1" class="accordion">
        <div class="row mb-5">
          <div class="col-md-12">
            <h1 class="text-center text-dark">Dúvidas</h1>
          </div>
        </div>
        <div class="card border-bottom">
          <div id="headingOne" class="card-header bg-white">
            <h5 class="mb-0 font-weight-bold">
              <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="" aria-controls="collapseOne" class="d-block position-relative text-dark collapsible-link py-2"><span style="font-weight: normal;">Qual o valor do PTR?</span></a>
            </h5>
          </div>
          <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion1" class="collapse">
            <div class="card-body">
              <p class="font-weight-light m-0">Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Accordion 2 -->
      <div id="accordion2" class="accordion">
        <div class="card border-bottom mt-2">
          <div id="headingTwo" class="card-header bg-white">
            <h5 class="mb-0 font-weight-bold">
              <a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="" aria-controls="collapseTwo" class="d-block position-relative text-dark collapsible-link py-2"><span style="font-weight: normal;">Posso receber o valor em uma só parcela?</span></a>
            </h5>
          </div>
          <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion2" class="collapse">
            <div class="card-body">
              <p class="font-weight-light m-0">Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Accordion 3 -->
      <div id="accordion3" class="accordion">
        <div class="card border-bottom mt-2">
          <div id="headingOne" class="card-header bg-white">
            <h5 class="mb-0 font-weight-bold">
              <a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="" aria-controls="collapseThree" class="d-block position-relative text-dark collapsible-link py-2"><span style="font-weight: normal;">Quem NÃO pode ingressar no PTR?</span></a>
            </h5>
          </div>
          <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion3" class="collapse">
            <div class="card-body">
              <p class="font-weight-light m-0">Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Accordion 4 -->
      <div id="accordion4" class="accordion">
        <div class="card border-bottom mt-2">
          <div id="headingFour" class="card-header bg-white">
            <h5 class="mb-0 font-weight-bold">
              <a href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="" aria-controls="collapseFour" class="d-block position-relative text-dark collapsible-link py-2"><span style="font-weight: normal;">Quem pode ingressar no PTR?</span></a>
            </h5>
          </div>
          <div id="collapseFour" aria-labelledby="headingFour" data-parent="#accordion4" class="collapse">
            <div class="card-body">
              <p class="font-weight-light m-0">Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Accordion 5 -->
      <div id="accordion5" class="accordion">
        <div class="card border-bottom mt-2">
          <div id="headingFive" class="card-header bg-white">
            <h5 class="mb-0 font-weight-bold">
              <a href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="" aria-controls="collapseFive" class="d-block position-relative text-dark collapsible-link py-2"><span style="font-weight: normal;">Qual a duração do PTR? Quem já estava recebendo, receberá por mais quatro anos ou será<br> descontado o tempo que o Pagamento Emergencial estava em vigor?</span></a>
            </h5>
          </div>
          <div id="collapseFive" aria-labelledby="headingFive" data-parent="#accordion5" class="collapse">
            <div class="card-body">
              <p class="font-weight-light m-0">Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Accordion 6 -->
      <div id="accordion6" class="accordion">
        <div class="card border-bottom mt-2">
          <div id="headingSix" class="card-header bg-white">
            <h5 class="mb-0 font-weight-bold">
              <a href="#" data-toggle="collapse" data-target="#collapseSix" aria-expanded="" aria-controls="collapseSix" class="d-block position-relative text-dark collapsible-link py-2"><span style="font-weight: normal;">Como pedir a revisão do Pagamento Emergencial bloqueado ou negado?</span></a>
            </h5>
          </div>
          <div id="collapseSix" aria-labelledby="headingSix" data-parent="#accordion6" class="collapse">
            <div class="card-body">
              <p class="font-weight-light m-0">Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Accordion 7 -->
      <div id="accordion7" class="accordion">
        <div class="card border-bottom mt-2">
          <div id="headingSeven" class="card-header bg-white">
            <h5 class="mb-0 font-weight-bold">
              <a href="#" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="" aria-controls="collapseSeven" class="d-block position-relative text-dark collapsible-link py-2"><span style="font-weight: normal;">Será pago retroativo para quem teve o Pagamento Emergencial bloqueado?</span></a>
            </h5>
          </div>
          <div id="collapseSeven" aria-labelledby="headingSeven" data-parent="#accordion7" class="collapse">
            <div class="card-body">
              <p class="font-weight-light m-0">Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Accordion 8 -->
      <div id="accordion8" class="accordion">
        <div class="card border-bottom mt-2">
          <div id="headingEight" class="card-header bg-white">
            <h5 class="mb-0 font-weight-bold">
              <a href="#" data-toggle="collapse" data-target="#collapseEight" aria-expanded="" aria-controls="collapseEight" class="d-block position-relative text-dark collapsible-link py-2"><span style="font-weight: normal;">Os bairros que recebem o valor integral terão alguma redução?</span></a>
            </h5>
          </div>
          <div id="collapseEight" aria-labelledby="headingEight" data-parent="#accordion8" class="collapse">
            <div class="card-body">
              <p class="font-weight-light m-0">Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo. Isso deve ser usado para contar uma história e permitir que seus usuários saibam um pouco mais sobre o conteudo do titulo.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{page.footer}}
